<div class="results-chart" id="results">
</div>

<script type="text/javascript" src="/controllers/LiveResultsController.js"></script>
<script type="text/javascript" src="/lib/js/chart.js"></script>
<script type="text/javascript" src='http://code.highcharts.com/highcharts.js'></script>
<script type="text/javascript" src='http://code.highcharts.com/modules/exporting.js'></script>