extends ../layout/layout.jade
block title
    title= pagetitle

block content
    div(class="content")
        h3='Welcome '
    div(class="container")
        div(class="panel panel-primary")
            div(class="panel-heading")
                h5(class="panel-title")='Current Results'
            div(class="panel-body" np-app="angularApp")
                div(ng-view)
        div(class="panel panel-primary")
            div(class="panel-heading")
                h5(class="panel-title")='Existing Polls'
            div(class="panel-body")
        div(class="panel panel-primary")
            div(class="panel-heading")
                h5(class="panel-title")='Ideas Wall'
            div(class="panel-body")

