doctype html
	
html(lang="en")

head
	link(rel="stylesheet" type="text/css" href="css/bootstrap.css") 
	block title
		title= pagetitle
body
	block content
		img(src="broken-chain.jpg" max-width="1024px")
		div(class="container" style="position:absolute;top:300px;left:550px;")
			div(class="alert alert-dismissible alert-danger")
				button(type="button" class="close" data-dismiss="alert")= 'x'
				strong Oh snap!  #{pagetitle}
					a(href="/" class="alert-link")='Change a few things up'
						and try submitting again.

			


scipt(src='js/bootstrap.min.js' )
scipt(src='js/jquery.min.js' )
