extends ./layout/alt_layout.jade
black head

block title
    title= pagetitle

block content
    div(class="login-content")
        div(class="logo")
        div(class="panel panel-primary")
            div(class="panel-heading")
                h3(class="panel-title")=pagetitle
            div(class="panel-body")
                form(class="form-horizontal" action='/login' method="post")
                    fieldset
                        legend= 'Sign In'
                        div(class="form-group")
                            label(for="userName" class="col-lg-2 control-label")= 'UserName'
                            div(class="col-lg-10")
                                input(type="text" class="form-control" id="userName" name="userName" placeholder="User Name" required="true")
                        div(class="form-group")
                            label(for="userPassword" class="col-lg-2 control-label")= 'Password'
                            div(class="col-lg-10")
                                input(type="password" class="form-control" id="userPassword" name="userPassword" placeholder="User Password" required="true")
                        div(class="form-group")
                            div(class="col-lg-10 col-lg-offset-5")
                                button(type="reset" class="btn btn-default" style="margin-right:20px")= 'Cancel'
                                button(type="submit" class="btn btn-primary")= 'Submit'
                        div(class="form-group" id="errorMsg" style="display:none")
                            div(class="col-lg-10 col-lg-offset-1 alert alert-dismissible alert-danger")
                                p='Oh oh.... '
                                strong(id="strongMsg")=errorMsg

    script(type='text/javascript').
        $(document).ready(function () {
            //console.log('Testing'+ $("#strongMsg").text());
            if ($("#strongMsg").text() === "") {
                $("#errorMsg").css("display", "none");
            }
            else {
                $("#errorMsg").css("display", "inherit");
            }
        });