extends ./layout/alt_layout.jade
block title
	title= pagetitle
	
block content
	div(class="content")
		h1=pagetitle

		form(class="form-horizontal" action='/createUser' method="post")
			fieldset
				leged='Create Account'
				div(class="form-group")
					label(for="userName" class="col-lg-2 control-label")= 'User Name'
					div(class="col-lg-3")
						input(type="text" class="form-control" id="userName" name="userName" placeholder="User Name")

				div(class="form-group")			
					label(for="userPassword" class="col-lg-2 control-label")= 'User Password'
					div(class="col-lg-3")
						input(type="password" class="form-control" id="userPassword" name="userPassword" placeholder="User Password")

				div(class="form-group")			
					label(for="name" class="col-lg-2 control-label")= 'Name'
					div(class="col-lg-3")
						input(type="text" class="form-control" id="name" name="name" placeholder="Name")

				div(class="form-group")			
					label(for="surname" class="col-lg-2 control-label")= 'Surname'
					div(class="col-lg-3")
						input(type="text" class="form-control" id="surname" name="surname" placeholder="Surname")

				div(class="form-group")			
					label(for="email" class="col-lg-2 control-label")='Email'
					div(class="col-lg-3")
						input(type="email" class="form-control" id="email" name="email" placeholder="Email")

				div(class="form-group")			
					label(for="role" class="col-lg-2 control-label")= 'Role'
					div(class="col-lg-3")
						select(class="form-control" id="role" name="role")
							option='Engineer'
							option='Designer'
							option='Developer'

				div(class="form-group")
					div(class="col-lg-12 col-lg-offset-2")
						button(type="reset" class="btn btn-default" style="margin-right:20px")= 'Cancel'
						button(type="submit" class="btn btn-primary")= 'Submit'
