doctype html
html(lang="en" ng-app="quirkDemocracy")

head
	block scripts
	script(type="text/javascript",src='/js/jquery.min.js')
	script(type="text/javascript",src='/js/bootstrap.min.js')

	block head
		link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")

	block title
		title Default title
body
	block content