doctype html
html(lang="en" ng-app="quirkDemocracy")

head
	link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
	link(rel="stylesheet" type="text/css" href="css/style.css")
	block title
		title Default title	
body
	div(class="container")
		div(class="logo")
		nav(class="navbar navbar-default")
				div(class="container-fluid")
					//div(class="navbar-header")
					//	button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					//		span(class="sr-only")='Toggle navigation'
					//		span(class="icon-bar")
					//		span(class="icon-bar")
					//		span(class="icon-bar")
					//	a(class="navbar-brand" href="/login")='Brand'
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li(class="active")
							a(href="/login")='Home'
								span(class="sr-only")='(current)'
						li
							a(href="#")='View Results'
						li
							a(href="#")='View Existing Polls'
						li
							a(href="#")='Create New Poll'
						li(class="dropdown")
							a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")='More Options'
								span(class="caret")
							ul(class="dropdown-menu" role="menu")
								li(class="active")
									a(href="#")='Ideas Wall'
										span(class="sr-only")='(current)'
								li
									a(href="#")='Feedback'
					ul(class="nav navbar-nav navbar-right")
						li
							a(href="/")='Sign Out : ' + user
	block content

	footer
		p='Footer'

	script(type="text/javascript",src='/js/jquery.min.js' )
	script(type="text/javascript",src='/js/bootstrap.min.js' )
